<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
        font-size: 3.5rem;
        }
    }
    </style>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="form-signin" action="/login" method="post">
                    <!--<img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>

                    <div class="mb-3">
                      <a href="/cadastrar">(Não tem conta ainda? Crie a sua!)</a>
                    </div>

                    {if="$error"}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      {$error}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {/if}


                    <label for="deslogin" class="sr-only">Email</label>
                    <input type="email" name="deslogin" id="deslogin" class="form-control" placeholder="Email" required autofocus>
                    <label for="despassword" class="sr-only">Senha</label>
                    <input type="password" name="despassword" id="despassword" class="form-control" placeholder="Senha" required>
                    <div class="mb-3">
                      <a href="/recuperar-senha">Esqueceu sua Senha?</a>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                  </form>
            </div>
        </div>
    </div>
</section>

